fastapi
uvicorn
python-socketio
aiohttp_cors
django 
channels 
channels_redis 
openai 
langchain
langchain-anthropic
python-dotenv
websockets
langchain-aws
langchain-qdrant 
qdrant-client
langchain-community
pymongo
boto3
langchain-core
